# frozen_string_literal: true

require 'test_helper'

<% module_namespacing do -%>
class <%= class_name %>ServiceTest < ActiveSupport::TestCase
  def setup; end

  test 'should ...' do
    assert_changes -> { something } do
      service = <%= class_name %>Service.new.call

      assert service.success?
    end
  end

  test 'should ...' do
    assert_no_changes -> { something } do
      service = <%= class_name %>Service.new.call

      assert service.failure?
    end
  end
end
<% end -%>
