# frozen_string_literal: true

<% module_namespacing do -%>
class <%= class_name %>Contract < <%= parent_class_name.classify %>
  params do
<% formatted_params.each do |param| -%>
    <%= param.first %>(:<%= param.last %>) {}
<% end -%>
  end
end
<% end -%>
